.plot-label {
    color: #666666 !important;
    font-weight: bold !important;
    font-size: 30px !important;
    background: transparent !important;
    border: none !important;
    box-shadow: 0 0 2px white !important;
}