data_loc.yaml

# Electron standalone app build process
# -----------------------------------------
electron/out/
electron/dist/
node_modules/

# portable R installation bundled in binary
r-nhyris/

# PyCharm IDE
.idea/*

# Rhino shiny development
# /style and /js compile into this dir
app/static/dist/

# R development environment and R-studio/IDE files
# -------------------------------------------------
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# ignore binary documents
# ---------------------------------------------------------
# ignore both legacy and modern Microsoft (e.g. .doc/.docx)
*.pdf
*.doc*
*.xls*
*.ppt*

# ignore archives
*.tar*
*.zip*
*.gz*

# ignore data files
*.dat
*.mat
*.txt
# ignore data file OR dir regardless of case
**[Cc][Ss][Vv]

# ignore images
*.jp*g
*.tif*
*.png
# Large media files
*.mp4
*.avi
*.flv
*.mov
*.wmv

# ignore files by file extension
# ignore all compiled/built from environment
*.tdf
*.exe
*.dll
*.pdb
*.dmg
*.pkg
*.app
*.war
*.jar
*.scw

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# ignore the entire contents of all directories or sub directories
# files named .log or .logs or .logged also excluded
**log*
**bin/
